


body {
    background: url("https://www.spacearchitects.co.uk/assets/__/durham-university-graham-sports-centre/webproj-april1.jpg?version=11587552540136&crop=2732%2C1536%2C0%2C0&fit=crop") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'DM Sans', sans-serif;
    font-size: 18;
    text-align: center;
    color: white;
  }

footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: static;
  }
  
  header {
    margin-right: 5%;
    min-height: 80px;
  }

  .intro {
    width: 60%;
    overflow: auto;
    background-color: rgba(255,255,255,0.7);
    padding: 2% 5%;
    margin: 5% auto;
    border-radius: 10px;
    color: #682860;
  }

nav {
    float: right;
  }
  
  .navbar {
    margin-top: 15%;
  }
  
  .navbar li {
    display: inline-block;
    padding: 0 5px;
  }
  
  .navbar li a {
    color: rgba(255,255,255,1);
    font-weight: normal;
  }
  
  .navbar li a:hover, .navbar .current a {
    color: #682860;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 5%;
    letter-spacing: 1px;
    color: rgba(255,255,255,1);
  }

  h2 {
    color: rgba(255,255,255,1);
    font-family: 'Playfair Display', serif;
  }

  /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;

  }
  
  /* Instagram */
  .fa-instagram {
    background: #55ACEE;
    color: white;

  }
 
  #devsquadButton.fa-facebook{ 

    background:#682860;
  
    }


.join {
    width: 60%;
    overflow: auto;
    background-color: rgba(255,255,255,0.7);
    padding: 2% 5%;
    margin: 5% auto;
    border-radius: 10px;
    color: #682860;
}

#howToJoin {
    color: #682860;
}

#showcase {
  margin-top: 0%;
  margin-bottom: 0%;
}

.exec {
  display: inline-block;
  width: 60vh;
  height: 200px;
  background-color: rgba(255,255,255,0.7);
  padding: 2% 5%;
  margin: 2% auto;
  border-radius: 5px;

}

.execImage {
  float: left;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 0 auto;
  height: auto;
}

.details {
  font-size: 2.5vh;
  text-align: center;
  width: 100%;
  margin: 0% 5%;
  padding: 0% 5%;
}

.name, .role, .course, .year {
  color: #682860;
  text-align: center;
}

.logo {

  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  padding: 1% 1%;
}

.socialButtons {
  padding: 5%;
}

/*Slideshow*/

.photoAlbum { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-slide img{
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  width: 500px;
  height: 300px;
}

.swiper-button-prev, .swiper-button-next {
  position: relative;
}









  

